@charset "UTF-8";

h1{
	color: orange;
}
form{
    background-color: #00ff99 ;
}
.parameters{
    height: 500px;
    width: 30%;
    display: inline-block;
    float: left;
}
.field-values{
    height: 500px;
    width: 50%;
    display: inline-block;
}
.position{
	display: inline-block;
	margin-top: -4%;
    margin-bottom: -4%;
    font-weight: normal;
}